html,
body {
    height: 100%;
}

.custom-body-bg {
    background-color: #F2EBDC;
    min-height: 100vh;
    flex-direction: column;
}

.custom-navbar-bg {
    background-color: #5944A6;
}

.custom-button {
    background-color: #5944A6;
    color: white;
    border: none;
    font-size: 21px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

.custom-button:hover {
    background-color: #8E79D9;
    color: white;
}